# 處理遺失值

### (1. dropna( )/2. fillna( ))

In [1]:
import numpy as np
import pandas as pd

string_data = pd.Series(['板橋區', '中和區', np.nan, '土城區'])
string_data

0    板橋區
1    中和區
2    NaN
3    土城區
dtype: object

In [2]:
string_data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4 entries, 0 to 3
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [3]:
string_data.dropna()

0    板橋區
1    中和區
3    土城區
dtype: object

In [4]:
from numpy import nan as NA

data = pd.DataFrame([[1., 6.5, 3.],
                    [1., NA, NA],
                    [NA, NA, NA],
                    [NA, 6.5, 3.]])

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      float64
 1   1       2 non-null      float64
 2   2       2 non-null      float64
dtypes: float64(3)
memory usage: 224.0 bytes

In [5]:

data.dropna()

     0    1    2
0  1.0  6.5  3.0

In [6]:
data.fillna(0)

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0